<p>The Bachelorette Pre-Funk</p>

<div class="boat_ride_div2"><img class="new_pics" src="/img/bachlorette/090416sm-1001.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/bachlorette/090416sm-1002.jpg"></div>
<div class="boat_ride_div"><img class="new_pics" src="/img/bachlorette/090416sm-1003.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/bachlorette/090416sm-1004.jpg"></div>
<div class="boat_ride_div"><img class="new_pics" src="/img/bachlorette/090416sm-1005.jpg"></div>
<div class="boat_ride_div"><img class="new_pics" src="/img/bachlorette/090416sm-1006.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/bachlorette/090416sm-1023.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/bachlorette/090416sm-1032.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/bachlorette/090416sm-1033.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/bachlorette/090416sm-1040.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/bachlorette/090416sm-1041.jpg"></div>
<div class="boat_ride_div"><img class="new_pics" src="/img/bachlorette/090416sm-1042.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/bachlorette/090416sm-1063.jpg"></div>
<div class="boat_ride_div"><img class="new_pics" src="/img/bachlorette/090416sm-1088.jpg"></div>
<div class="boat_ride_div"><img class="new_pics" src="/img/bachlorette/090416sm-1090.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/bachlorette/090416sm-1105.jpg"></div>
<div id="last_pic_div" class="boat_ride_div2"><img class="new_pics" src="/img/bachlorette/090416sm-1106.jpg"></div>
<!-- <div class="boat_ride_div"><img class="new_pics" src="/img/boat_ride/090416sm-1001.jpg"></div> -->