
<div class="boat_ride_div2"><img class="new_pics" src="/img/bachelor/090416sm-1008.jpg"></div>
<div class="boat_ride_div"><img class="new_pics" src="/img/bachelor/090416sm-1011.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/bachelor/090416sm-1012.jpg"></div>
<div class="boat_ride_div"><img class="new_pics" src="/img/bachelor/090416sm-1017.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/bachelor/090416sm-1018.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/bachelor/090416sm-1019.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/bachelor/090416sm-1020.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/bachelor/090416sm-1022.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/bachelor/090416sm-1026.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/bachelor/090416sm-1027.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/bachelor/090416sm-1028.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/bachelor/090416sm-1037.jpg"></div>