<div id="main_div">
	<!-- <div id="hotel_div"> -->
		<h2 id="our_h2">Explore Seattle</h2>
			<div id="img_div" >
				<img src="img/explore_seattle.jpg">
			</div>
			<h3 class="explore_h3">Seattle Landmarks</h3>
		<ul id="explore_ul">
			<a href="http://pikeplacemarket.org"><li id="explore_li">Pike Place Market</li></a><br>
			<a href="http://spaceneedle.com"><li id="explore_li">The Space Needle</li></a><br>
			<a href="http://zoo.org"><li id="explore_li">Woodland Park Zoo</li></a><br>
			<a href="http://myballard.com/ballard-locks-seattle/"><li id="explore_li">Ballard Locks</li></a><br>
		</ul>
			<h3 class="explore_h3">Museums</h3>
		<ul id="explore_ul">
			<a href="http://seattleartmuseum.org"><li id="explore_li">Seattle Art Museum</li></a><br>
			<a href="http://empmuseum.org"><li id="explore_li">Experience Music Project</li></a><br>
			<a href="http://museumofflight.org"><li id="explore_li">Museum of Flight</li></a><br>
			<a href="http://seattleartmuseum.org/visit/olympic-sculpture-park"><li id="explore_li">Olympic Sculpture Park</li></a><br>
			<a href="http://seattleartmuseum.org/visit/asian-art-museum"><li id="explore_li">Asian Art Museum</li></a><br>
			<a href="http://mohai.org"><li id="explore_li">Museum of History and Industry</li></a><br>
			<a href="http://thechildrensmuseum.org"><li id="explore_li">Seattle Children’s Museum</li></a><br>
			<a href="http://fryemuseum.org"><li id="explore_li">Frye Art Museum</li></a><br>
			<a href="http://nordicmuseum.org"><li id="explore_li">Nordic Heritage Museum</li></a><br>
		</ul>
			<h3 class="explore_h3">Outdoors</h3>
		<ul id="explore_ul">
			<a href="http://aguaverde.com"><li id="explore_li">Kayaking in Lake Union</li></a><br>
			<a href="https://www.google.com/maps/dir//Greenlake+Boat+Rentals,+East+Green+Lake+Drive+North,+Seattle,+WA/@47.6609651,-122.3807083,12.62z/data=!4m8!4m7!1m0!1m5!1m1!1s0x5490146cd6064a03:0x21d0483d9f8b804b!2m2!1d-122.328785!2d47.681453"><li id="explore_li">Green Lake</li></a><br>
			<a href="https://www.google.com/maps/dir//Myrtle+Edwards+Park,+Alaskan+Way,+Seattle,+WA/@47.6157022,-122.4063711,12.74z/data=!4m8!4m7!1m0!1m5!1m1!1s0x5490155c45d028e3:0xbd4badc7fd400a1a!2m2!1d-122.361817!2d47.619438"><li id="explore_li">Myrtle Edwards Park</li></a><br>
			<a href="http://www.kayakalki.com/"><li id="explore_li">Kayaking in Puget Sound</li></a><br>
			<a href="https://www.google.com/maps/dir//Golden+Gardens+Park,+Seaview+Place+Northwest,+Seattle,+WA/@47.6727794,-122.3915647,12.65z/data=!4m8!4m7!1m0!1m5!1m1!1s0x549016648e6062ef:0x5b2c838d4c7f0aca!2m2!1d-122.402325!2d47.689707"><li id="explore_li">Golden Gardens</li></a><br>
			<a href="https://www.google.com/maps/dir//Discovery+Park,+Discovery+Park+Boulevard,+Seattle,+WA/@47.6635045,-122.3907801,12.81z/data=!4m8!4m7!1m0!1m5!1m1!1s0x549015f0e18e409f:0x519842caa4fa6320!2m2!1d-122.4178057!2d47.6612969"><li id="explore_li">Discovery Park</li></a><br>
			<a href="https://www.google.com/maps/dir//Arboretum+Foundation,+Arboretum+Drive+East,+Seattle,+WA/@47.6642704,-122.3811075,12.9z/data=!4m8!4m7!1m0!1m5!1m1!1s0x549014c6f6b93c81:0xaac2ed9e74ca4754!2m2!1d-122.2944332!2d47.6398162"><li id="explore_li">Arboretum</li></a><br>
			<a href="http://wta.org"><li id="explore_li">Hiking</li></a><br>
		</ul>
		<h3 class="explore_h3">Shopping</h3>
		<ul id="explore_ul">
			<a href="http://seattlechinatownid.com"><li id="explore_li">Historic International District</li></a><br>
			<!-- <a href="http://capitolflea.com"><li id="explore_li">Capitol Hill Flea Market</li></a> -->
			<a href="http://seattlefarmersmarkets.org"><li id="explore_li">Local farmers markets</li></a><br>
			<a href="http://fremontmarket.com"><li id="explore_li">Fremont Sunday Market</li></a><br>
			<a href="http://georgetowntrailerpark.com"><li id="explore_li">Georgetown Trailer Park Mall</li></a><br>
			<a href="http://gilmanvillage.com"><li id="explore_li">Gilman Village</li></a><br>
		</ul>
	<!-- </div> -->
</div>

<p id="vogel">Powered by Vogel1Devs</p>


<style type="text/css">
	
	
	
	#hotel_div
	{
		/*background-image: url("img/paper1.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		border: 2px solid black*/
	}
	</style>