<div id="main_div">
		<h1>Explore Seattle</h1>
		<ul id="explore_ul">
			<a href="#/water_taxi"><li id="explore_li">Water Taxi & Alki Kayak Tours</li></a>
			<a href="#/discovery"><li id="explore_li">Discovery Park</li></a>
			<a href="#"><li id="explore_li">The Arboreatum</li></a>
		</ul>
			<div id="img_div" >
				<img src="img/explore_seattle.jpg">
			</div>
</div>



<style type="text/css">
	#main_div
	{
		width: 100%;
		height: 100%;
		margin: auto;
		background-color: white;

	}
	#img_div
	{
		width: 20%;
		margin: auto;
		padding-bottom: 5%;

	}
	img
	{
		width: 100%;
		height: 100%;
		border: 2px solid black;
		margin: auto;
	}
	h1
	{
		text-align: center;
		font-family: "Radley", serif;
		margin: 0 0 0 0;
	}
	#explore_ul
	{
		margin: 3% 0 3% 0;
	}
	#explore_li 
	{
		display: inline;
		margin: 3%;
	}
	a
	{
		font-family: "Radley", serif;
	}
	</style>