<h2 id="our_h2">FAQ's</h2>
<div id="img_div">
				<img src="/img/pro2.jpg">
</div>

<p id="our_p"><b>“So does the ceremony start at 4, or should we get there at 4?”</b><br><br>
Get there at 4:00! The ceremony will start at 4:30. Afterwards, everybody will head over to the reception at the Queen City Yacht Club for dinner, dancing, and celebration.<br><br><br>
<b>“The dress code says “semiformal flair,” which, as you may be aware, is not a thing. What do you want me to wear, exactly?”</b><br><br>
Steer clear of jeans and t-shirts, but other than that, do what you feel and don’t be afraid to get weird. Your very favorite LBD, a glitzy 80’s cocktail dress with crazy shoulder pads, a nice shirt and slacks, a purple silk suit (you know who you are), Bjork’s swan dress from the Oscars -- there’s no such thing as “too fancy,” and the bar for “not fancy enough” is set pretty low.<br><br><br>
<b>“Can I bring my kids?”</b><br><br>
Hell yeah! We’ve arranged for professional childcare at the reception venue so parents can enjoy the festivities without worrying that their young children will be traumatized at the sight their parent’s dance moves (older kids, you’re on your own). Childcare will not be provided at the ceremony site, so please plan accordingly. If you’re bringing an infant or a child with special dietary, medical, or other needs, please contact the bride or groom directly via email to coordinate.<br><br><br>
<b>“One of the pre-parties says ‘Invite Only.’ Can I have an invitation?”</b><br><br>
We’ve planned a few family-only events to give Ola, Lena, and their families time to meet, bond, and tell each other embarrassing stories about the bride and groom. Unfortunately, due to seating restrictions, we can’t accommodate non-family guests at these events. However, we’d be delighted to have you join us for our official wedding pre-funk barbecue at Carkeek Park on Friday evening!<br><br><br>
<b>“I’m traveling here from out of town. What are my lodging options?”</b><br><br>
First, <a id="link" href="#/hotels2">look here.</a> If you’re interested in staying with one of our in-town friends, please contact one of us and we’ll try to help you out.<br><br><br>
<b>“I follow a vegan/gluten-free/otherwise restricted diet. Will there be food for me at the reception, or do you just expect me to starve?”</b><br><br>
We’ll be serving several different vegan and gluten-free dishes! Dinner will be served buffet-style,  so feel free to go crazy on the non-meaty/non-bready stuff.</p>


<style type="text/css">
	
	b
	{
		color: black;
		font-weight: 900;
	}
	#link
	{
		color: dodgerblue;
	}
	#link:hover
	{
		color: limegreen;
	}
</style>