<div class="boat_ride_div"><img class="new_pics" src="/img/first_look/090416sm-1112.jpg"></div>
<div class="boat_ride_div"><img class="new_pics" src="/img/first_look/090416sm-1113.jpg"></div>
<div class="boat_ride_div"><img class="new_pics" src="/img/first_look/090416sm-1114.jpg"></div>
<div class="boat_ride_div"><img class="new_pics" src="/img/first_look/090416sm-1115.jpg"></div>
<div class="boat_ride_div"><img class="new_pics" src="/img/first_look/090416sm-1117.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/first_look/090416sm-1118.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/first_look/090416sm-1119.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/first_look/090416sm-1120.jpg"></div>
<div class="boat_ride_div"><img class="new_pics" src="/img/first_look/090416sm-1121.jpg"></div>
<div class="boat_ride_div"><img class="new_pics" src="/img/first_look/090416sm-1122.jpg"></div>
<div class="boat_ride_div"><img class="new_pics" src="/img/first_look/090416sm-1123.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/first_look/090416sm-1124.jpg"></div>
<div class="boat_ride_div"><img class="new_pics" src="/img/first_look/090416sm-1125.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/first_look/090416sm-1126.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/first_look/090416sm-1127.jpg"></div>
<div class="boat_ride_div2"><img class="new_pics" src="/img/first_look/090416sm-1128.jpg"></div>
<div class="boat_ride_div"><img class="new_pics" src="/img/first_look/090416sm-1129.jpg"></div>
<div class="boat_ride_div"><img class="new_pics" src="/img/first_look/090416sm-1130.jpg"></div>
<div class="boat_ride_div"><img class="new_pics" src="/img/first_look/090416sm-1131.jpg"></div>
<div class="boat_ride_div"><img class="new_pics" src="/img/first_look/090416sm-1132.jpg"></div>
<div id="last_pic_div" class="boat_ride_div"><img class="new_pics" src="/img/first_look/090416sm-1133.jpg"></div>