
				<h2 class="day_h2">Friday BBQ</h2>
				<h3 class="day_h3">Carkeek Park - 4:30pm to 10:00pm</h3>
				<h3 class="day_ps">Everyone is Welcome!</h3>
				
			<div id="img_div" >
				
				<a href="https://www.google.com/maps/dir//950+Northwest+Carkeek+Park+Road,+Seattle,+WA+98177/@47.712483,-122.3832429,16z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x549016c1c6425835:0x1ad133d336240a10!2m2!1d-122.3788655!2d47.7124831"><img src="img/carkeek.jpg"></a>
				<br>
				<p class="day_ps"><a href="https://www.google.com/maps/dir//950+Northwest+Carkeek+Park+Road,+Seattle,+WA+98177/@47.712483,-122.3832429,16z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x549016c1c6425835:0x1ad133d336240a10!2m2!1d-122.3788655!2d47.7124831">950 NW Carkeek Park Rd, Seattle, WA 98177</a></p>
			</div>
			<div id="img_div" >
				<a href="#/picnic"><img src="img/picnic.png"></a>
			</div>

			<h2 class="day_h2">Friday Night DJ ShmeeJay</h3>
				<h4 class="day_h3">Pipers Creek-10:00pm to 1:45am</h4>
				<h3 class="day_ps">Everyone is Welcome!</h3>
				
			<div id="img_div" >
				
				<a href="https://www.google.com/maps/place/Pub+At+Pipers+Creek/@47.7058902,-122.3579784,17z/data=!3m1!4b1!4m5!3m4!1s0x549016bac7e35de1:0xee2e5e1aef418e52!8m2!3d47.7058902!4d-122.3557897"><img src="img/pipers.jpeg"></a>
				<p class="day_ps"><a href="https://www.google.com/maps/place/Pub+At+Pipers+Creek/@47.7058902,-122.3579784,17z/data=!3m1!4b1!4m5!3m4!1s0x549016bac7e35de1:0xee2e5e1aef418e52!8m2!3d47.7058902!4d-122.3557897">10527 Greenwood Ave N, Seattle, WA 98133</a></p>
				<!-- <p class="day_ps">Ola was born on 5-27!</p> -->

			</div>

			<p id="vogel">Powered by Vogel1Devs</p>
			