
			<div id="img_div" >
				<h1>Friday</h1>
				<h2>Brewery DiscoFunk With DJ Shmeejay-3:30pm</h2>
				<p>Everyone is Welcome!</p>
				<!-- <img src="img/dj.jpg"> -->
			</div>
			<div id="img_div" >
				<h2 id="sorry">Barouh Ladies Dinner-6:30pm</h2>
				<p id="sorry2">By Invitation Only</p>
				<!-- <img src="img/lena.jpg"> -->
			</div>
			<div id="img_div" >
				<h2>Friday Night Rock and Roll-10:30pm</h2>
				<p>Everyone is Welcome!</p>
				<!-- <img src="img/andy_coe.jpeg"> -->
						<h4>Andy Coe Band</h4>
						<h4><i>-or-</i></h4>
						<h4>Swindler!</h4>
						
				<!-- <img id="swindler" src="img/swindler.jpg"> -->
			</div>




<style type="text/css">
	#main_div
	{
		width: 100%;
		height: 100%;
		margin: auto;
		background-color: white;

	}
	#img_div
	{
		width: 100%;
		margin: auto;
		margin-bottom: 5%;


	}
	
	img
	{
		width: 100%;
		height: 100%;
		border: 2px solid black;
		margin: auto;
		
	}
	p
	{
		margin: 0 0 2% 0;
		color: grey;
		text-align: center;
		font-family: "Radley", serif;
	}
	h2
	{
		text-align: center;
		font-family: "Radley", serif;
		margin: 0 0 2% 0;
	}
	h4
	{
		text-align: center;
		font-family: "Radley", serif;
		margin: 0 0 2% 0;
	}
	h1
	{
		text-align: center;
		font-family: "Radley", serif;
		margin: 0 0 2% 0;
	}
	/*#swindler
	{
		margin: 10% 0 10% 0;
	}*/
	#sorry
	{
		margin: 0 0 0 0;

	}
	#sorry2
	{
		margin: 0 0 2% 0;
		color: grey;

	}
</style>