<div id="main_div">
		<h1>Special Friday Events</h1>
			<div id="img_div" >
				<h2>Brewery DiscoFunk With MattyIce -- 3:30pm</h2>
				<img src="img/dj.jpg">
			</div>
			<div id="img_div" >
				<h2 id="sorry">The Barouh Ladies Dinner of Womenhood -- 6:30pm</h2>
				<p id="sorry2">*sorry invite only</p>
				<img src="img/lena.jpg">
			</div>
			<div id="img_div" >
				<h2>Friday Night Rock and Roll -- 10:30pm</h2>
				<img src="img/andy_coe.jpeg">
						<p>Andy Coe Band</p>
						<p><i>-or-</i></p>
						<p>Swindler!</p>
				<img id="swindler" src="img/swindler.jpg">
			</div>
</div>



<style type="text/css">
	#main_div
	{
		width: 100%;
		height: 100%;
		margin: auto;
		background-color: white;

	}
	#img_div
	{
		width: 50%;
		margin: auto;
		padding-top: 5%;

	}
	#inner_div
	{
		width: 70%;
		margin: auto;
		padding-top: 5%;
		padding-bottom: 5%;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
	img
	{
		width: 100%;
		height: 100%;
		border: 1px solid black;
		margin: auto;
	}
	p
	{
		text-align: center;
		font-weight: 900;
		margin-bottom: 3%;
		font-family: "Radley", serif;
	}
	h2
	{
		text-align: center;
		font-weight: 900;
		margin-bottom: 3%;
		font-family: "Radley", serif;
	}
	h1
	{
		font-family: "Radley", serif;
		text-align: center;
	}
	#swindler
	{
		margin-bottom: 10%;
	}
	#sorry
	{
		margin: 0 0 0 0;

	}
	#sorry2
	{
		margin: 0 0 2% 0;
		color: red;
	}
</style>