
		<div id="main_div_frontpage">
			<div id="new_div" >
				<img id="beach" ng-src="{{homeCtrl.image}}" alt="beach" id="myImage" name="myImage"></a>
				<!-- <img id="front_pic" src="/img/slideshow/8.jpg"> -->
			</div>	
	
			<h1 id="come">COME CELEBRATE OUR WEDDING</h3>
			<div id="inner_div">
				<h2 class="names">Lena Barouh</h2>
				<h6 id="and"><i>-and-</i></h6>
				<h2 class="names1">Ola Järvegren</h2>
			</div>
				<h5 id="date_2">Sunday, September 4th, 2016</h5>
			<div id="bottom_div">
				
			</div>


		 </div>
				<p id="bottom_message"><i>Standing on the moon with nothing left to do.<br>Lovely view of heaven, but I'd rather be with you.</i><br><br>  <span>- Grateful Dead - </span></p>
				<br>
				
				<br>
				<p id="vogel">Powered by Vogel1Devs</p>

