<div id="rsvp_info" ng-repeat="product in productsCtrl.products">
			<h5>Name:</h5><p class="rsvp_name" ng-bind="product.first_name"></p>
					 </h5><p class="rsvp_name" ng-bind="product.last_name"></p>
			<h5>Attending?</h5><p ng-bind="product.attending"></p>
			<h5>Who are you Bringing?</h5><p ng-bind="product.who_else"></p>
			<h5>Email:</h5><p ng-bind="product.email"></p>
			<h5>Message:</h5><p ng-bind="product.comment"></p>
			<button id="delete" ng-click="productsCtrl.removeProduct(product)">Remove</button>
</div>



<style type="text/css">
	
	#rsvp_div
  	{
  		width: 100%;
  		text-align: center;
  		margin: auto;
  		margin-bottom: 33%;
  	}
  	.rsvp_name
  	{
  		display: inline;
  	}
  	#rsvp_info
  	{
  		display: inline-block;
  		border: 1px solid darkgrey;
  		margin: 1.5%;
  		padding: 5%;
  	}
  	#delete
  	{
  		border-radius: 100px;
  		background-color: purple;
  		color: white;
  	}
  	#delete:hover
  	{
  		border-radius: 100px;
  		background-color: gold;
  		color: purple;
  	}
  	#hidden
  	{
  		width: 100%;
  		height: 50px;
  		/*border: 1px dotted black;*/
  		/*float: right;*/
  		/*vertical-align: bottom;*/
  		/*display: block;*/
  	}
  	*
	{
		margin: 0 0 0 0;
		/*border: 1px dotted red;*/
	}
	body
	{
		margin: 7.5%;
		background-color: #f5f5ef;
		
	}
	#main_div
	{
		width: 100%;
		height: 100%;
		/*border: 1px dotted black;*/
		margin: auto;
		background-color: white;
		/*border: .5px solid lightgrey;*/

	}
	#img_div
	{
		width: 75%;
		margin: auto;
	}
	#inner_div
	{
		width: 70%;
		margin: auto;
		padding-top: 7.5%;
		padding-bottom: 7.5%;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
	img
	{
		width: 100%;
		height: 100%;
		border: 1px solid black;
		margin: auto;
	}
	h3
	{	
		/*margin-top: 5%;*/
		margin-bottom: 5%;
		text-align: center;
		font-family: "Radley", serif;
	}
	h2
	{
		margin-bottom: 1%;
		text-align: center;
		font-family: "Radley", serif;
	}
	p
	{
		margin-bottom: 1%;
		text-align: center;
		font-family: "Radley", serif;
		color: purple;
		font-size: 1.5em;
	}
	h1
	{
		margin-bottom: 15%;
		text-align: center;
		font-family: "Radley", serif;
	}
	.title
	{
		font-size: 1em;
		/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
		font-family: 'Radley', serif;
   		font-weight: 100;
		display: inline;
		/*vertical-align: top;*/
		margin: 1.9%;
		text-decoration: none;
		color: grey;
	}
	.title:hover
	{
		color: #c2d6d6;
		/*color: lime;*/
	}
	a
	{
		text-decoration: none;
		
		
	}
	ul
	{
		text-align: center;
		padding: 0;


	}
	#ola_date
	{
		font-family: 'Radley', cursive;
		text-align: center;
		font-size: 1.25em;
		color: grey;
		margin-bottom: 5%;


	}
	#ola_font
	{
		font-family: 'Radley', serif;
		text-align: center;
		font-size: 5em;
		margin-bottom: 1.5%;
		margin-top: 3%;
		display: inline-block;


		/*color: #808080;*/
		color: black;
	}
	#ola_font:hover
	{
		color: #c2d6d6;
	}
	#title_div
	{
		width: 100%;
		margin: auto;
		/*border: 1px solid black;*/
		text-align: center;
	}
	#top_banner
	{
		
		width: 100%;

		/*border: 1px solid purple;*/
		background-image: url('');
	    background-repeat: no-repeat;
	    /*background-position: 50% 0;*/
	   /* -ms-background-size: cover;*/
	    background-size: cover;
	    /*background-color: #b3f0ff;*/
	}
	#bord
	{
		border-bottom: 2px solid grey;
	}

</style>