<div id="inner_div">
	<h2>Hotel Information</h2>
	<ul id="hotel_ul">
		<li id="hotel_li"><a href="http://www.universityinnseattle.com/">University Inn </a></li>
		<li id="hotel_li"><a href="http://www.watertownseattle.com/">Watertown Hotel</a></li>
	</ul>

  		<p class="hotel_p">Both hotels offer a 15% discount if you mention the Barouh/Järvegren Wedding.</p>
		<p class="hotel_p">If you reserve online, the promotional code is "WED".</p> 
		<p class="hotel_p">Call <span>1-866-944-4242</span> to make reservations</p>
		<p class="hotel_p" id="final_p">Both hotels are very close to the Wedding and the Reception on Sunday.</p>
<!-- </div>
<div id="inner_div"> -->	
	<h2>Trusted Rentals</h2>
	<ul id="hotel_ul">
		<li id="hotel_li"><a href="https://www.airbnb.com/s/Seattle--WA?s_tag=vGDiTQ24">airbnb</a></li>
		<li id="hotel_li"><a href="https://www.vrbo.com/vacation-rentals/usa/washington/puget-sound/seattle">VRBO</a></li>
	</ul>
	

	<h2 id="last_h2">Other Hotels</h2>
	<p id="no">(No Discount)</p>
	<ul id="hotel_ul">
		<li id="hotel_li"><a href="http://www.marriott.com/hotels/travel/seacd-courtyard-seattle-downtown-lake-union/">Courtyard by Marriot (Lake Union)</a></li>
		<li id="hotel_li"><a href="http://www.ihg.com/holidayinnexpress/hotels/us/en/seattle/seawa/hoteldetail">Holiday Express Suites Inn (Aurora)</a></li>
		<li id="hotel_li"><a href="http://www.hoteldeca.com/">Hotel Deca</a></li>
	</ul>
</div>



<style type="text/css">
	h2
	{
		margin-bottom: 2%;
	}
	h2
	{
		text-align: center;
		font-family: "Radley", serif;
		margin-bottom: 2%;
	}
	#last_h2
	{
		text-align: center;
		font-family: "Radley", serif;
		margin: 0;
		padding: 0;
	}
	#discount
	{
		text-align: center;
		font-family: "Radley", serif;
		margin-bottom: 3%;
		color: grey;
	}
	.hotel_p
	{
		
		font-family: "Radley", serif;
		margin-bottom: 2%;
	}
	#final_p
	{
		margin-bottom: 5%;
	}
	#hotel_li
	{
		display: inline;
		font-family: "Radley", serif;
		margin: 1.5%;
		font-size: 90%;
	}
	#hotel_ul
	{
		margin-bottom: 5%;
	}
	#inner_div
	{
		width: 80%;
		margin: auto;
		background-image: url("img/paper1.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		padding: 3% 3% 0 3%;
	}
	span
	{
		color: dodgerblue;
	}
	#no
	{
		text-align: center;
	}
</style>