<div id="hotel_div">
	<h2 id="our_h2">Hotel Information</h2>
	<ul id="hotel_ul">
		<li id="hotel_li"><a class="hotel_a" href="http://www.universityinnseattle.com/">University Inn </a></li>
		<li id="hotel_li"><a class="hotel_a" href="http://www.watertownseattle.com/">Watertown Hotel</a></li>
	</ul>

  		<p class="hotel_p">Both hotels offer a 15% discount if you mention the Barouh/Järvegren Wedding.</p>
		<p class="hotel_p">If you reserve online, the promotional code is "WED".</p> 
		<p class="hotel_p">Call <span id ="phone">1-866-944-4242</span> to make reservations</p>
	
	<h2 id="our_h2">Trusted Rentals</h2>
	<ul id="hotel_ul">
		<li id="hotel_li"><a class="hotel_a" href="https://www.airbnb.com/s/Seattle--WA?s_tag=vGDiTQ24">airbnb</a></li>
		<li id="hotel_li"><a class="hotel_a" href="https://www.vrbo.com/vacation-rentals/usa/washington/puget-sound/seattle">VRBO</a></li>
	</ul>
	

	<h2 id="our_h2" id="last_h2">Other Hotels</h2>
	<p id="no">(No Discount)</p>
	<ul id="hotel_ul">
		<li id="hotel_li"><a class="hotel_a" href="http://www.marriott.com/hotels/travel/seacd-courtyard-seattle-downtown-lake-union/">Courtyard by Marriot (Lake Union)</a></li><br>
		<li id="hotel_li"><a class="hotel_a" href="http://www.ihg.com/holidayinnexpress/hotels/us/en/seattle/seawa/hoteldetail">Holiday Express Suites Inn (Aurora)</a></li><br>
		<li id="hotel_li"><a class="hotel_a" href="http://www.hoteldeca.com/">Hotel Deca</a></li>
	</ul>
</div>

<style type="text/css">
	#hotel_div
	{
		background-image: url("img/paper1.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		border: 2px solid black;
	}
</style>

