
	<div id="main_div">
		
		<div class="hotel">
			<h1>The Deca Hotel</h1>
				<h4></h4>
				<img src="http://www.cfmedia.vfmleonardo.com/imageRepo/2/0/51/998/820/Balcony_with_View_S.jpg">
				<img src="http://www.cfmedia.vfmleonardo.com/imageRepo/2/0/51/998/860/Room__1509_Writers_Studio_S.jpg">
					<p class="hotel_p">Under 5 miles away from the Barouhs and Järvegren houses (15 minute taxi)</p>
					<p class="hotel_p">Less than a mile away from the Wedding location </p>
					<p class="hotel_p">1.5 miles from the Reception Party</p>
					<p class="hotel_p">Walking distance to Lena's Law School building and Ola's Engineering Building</p> 

		</div>
		<div class="hotel">
			<h1>Residence Inn Seattle:  Downtown/Lake Union</h1>
				<h4></h4>
				<img src="/img/patio.jpg">
				<img src="/img/southlake2.jpg">
			<p class="hotel_p">6.5 miles to the Barouhs and Järvegren houses (19 minute taxi) </p>
			<p class="hotel_p">Less than 2 miles away from the Wedding location</p>
			<p class="hotel_p">2.5 miles from the Reception Party</p>
			<p class="hotel_p">Walking distance to South Lake Union Park and the Museum of History and Industry</p>

		</div>
		<div class="hotel">
			<div id="link">
				<button id="stranger"><a href="http://www.thestranger.com/events/?view_id=events">The Stranger's Music and Events</a></button>
				<button id="groomsman"><a href="http://www.thestranger.com/events/?view_id=events">A Groomsman's Guide to Seattle</a></button>
			</div>
		</div>
	</div>
</body>
</html>


<style type="text/css">
	*
	{
		margin: 0 0 0 0;
		/*border: 1px dotted red;*/

	}
	body
	{
		margin: 7.5%;
		background-color: #f5f5ef;
		
	}
	#main_div
	{
		width: 100%;
		height: 100%;
		/*border: 1px dotted black;*/
		margin: auto;
		background-color: white;
		/*border: .5px solid lightgrey;*/

	}
	.hotel
	{
		width: 70%;
		margin: auto;
		padding-top: 5%;
	}
	img
	{
		width: 49.25%;
		height: 49.5%;
		border: 1px solid black;
		margin: auto;
		display: inline;
		

	}
	h3
	{
		margin-bottom: 15%;
		text-align: center;
		font-family: "Radley", serif;
	}
	h1
	{
		margin-bottom: 3%;
		text-align: center;
		font-family: "Radley", serif;
		font-weight: 100;
	}
	.title
	{
		font-size: 1em;
		/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
		font-family: 'Radley', serif;
   		font-weight: 100;
		display: inline;
		/*vertical-align: top;*/
		margin: 1.9%;
		text-decoration: none;
		color: grey;
	}
	.title:hover
	{
		color: #c2d6d6;
		/*color: lime;*/
	}
	a
	{
		text-decoration: none;
		color: white;

	}
	ul
	{
		text-align: center;
		padding: 0;


	}
	#ola_date
	{
		font-family: 'Radley', cursive;
		text-align: center;
		font-size: 1.25em;
		color: grey;
		margin-bottom: 5%;


	}
	#ola_font
	{
		font-family: 'Radley', serif;
		text-align: center;
		font-size: 5em;
		margin-bottom: 1.5%;
		margin-top: 3%;
		display: inline-block;


		/*color: #808080;*/
		color: black;
	}
	#ola_font:hover
	{
		color: #c2d6d6;
	}
	#title_div
	{
		width: 100%;
		margin: auto;
		/*border: 1px solid black;*/
		text-align: center;
	}
	#top_banner
	{
		
		width: 100%;

		/*border: 1px solid purple;*/
		background-image: url('');
	    background-repeat: no-repeat;
	    /*background-position: 50% 0;*/
	   /* -ms-background-size: cover;*/
	    background-size: cover;
	    /*background-color: #b3f0ff;*/
	}
	#bord
	{
		border-bottom: 2px solid grey;
	}
	.hotel_p
	{
		font-family: "Radley", serif;
		color: darkgrey;
		text-align: center;
		font-weight: 100;
	}
	#stranger
	{
		/*text-align: center;*/
		font-family: "Radley", serif;
		margin-top: 5%;
		background-color: green;
		font-size: 1.25em;
		border-radius: 5px;
		margin-bottom: 10%;
	}
	#stranger:hover
	{
		
		font-family: "Radley", serif;
		margin-top: 5%;
		background-color: blue;
		font-size: 1.25em;
		border-radius: 5px;
		margin-bottom: 10%;
	}
	#groomsman
	{
		/*text-align: center;*/
		font-family: "Radley", serif;
		margin-top: 2%;
		background-color: darkgreen;
		font-size: 1.25em;
		border-radius: 5px;
		margin-bottom: 10%;
	}
	#groomsman:hover
	{
		
		font-family: "Radley", serif;
		margin-top: 2%;
		background-color: darkblue;
		font-size: 1.25em;
		border-radius: 5px;
		margin-bottom: 10%;
	}
	#link
	{
		margin: auto;
		width: 50%;
		text-align: center;
	}

</style>