<div>
 <p id="mobile"><a href="https://www.google.com/maps/place/Boat+Street+Kitchen/@47.6181888,-122.3597197,17z/data=!3m1!4b1!4m5!3m4!1s0x549014f10bbd14bd:0x99d18d7721e44c5!8m2!3d47.6181888!4d-122.357531">3131 Western Ave #301, Seattle, WA 98121</a></p>
 <p id="mobile">(Press and Hold on the address to get GPS directions)</p>
 <p id="mobile2">3131 Western Ave #301, Seattle, WA 98121</p>
 <p id="mobile25">The blue marker in the bottom left corner</p>
  <div id ="maps2">
    <div directions-map id="map"></div>

  </div>
 
</div>

<style type="text/css">
	#mobile25
	{
		font-family: 'Radley', sans-serif;
		color: blue;
	}
</style>