<div>
 <p id="mobile"><a href="https://www.google.com/maps/place/Gas+Works+Park/@47.6456308,-122.3365419,17z/data=!3m1!4b1!4m5!3m4!1s0x54901502b25bb07f:0x1e6e55abec496196!8m2!3d47.6456308!4d-122.3343532">2101 N Northlake Way, Seattle, WA 98103</a></p>
 <p id="mobile">(Press and Hold on the address to get GPS directions)</p>
 <p id="mobile2">2101 N Northlake Way, Seattle, WA 98103</p>
<p id="mobile26">The magenta marker in the center of the map to the left of I-5</p>
  <div id ="maps2">
    <div directions-map id="map"></div>

  </div>
 
</div>

<style type="text/css">
	#mobile26
	{
		font-family: 'Radley', sans-serif;
		color: magenta;
	}
</style>