
<div>
 <p id="mobile"><a href="https://www.google.com/maps/search/Carkeek+Park,+Northwest+Carkeek+Park+Road,+Seattle,+WA/@47.7124738,-122.3737913,17z">950 NW Carkeek Park Rd, Seattle, WA 98177</a></p>
 <p id="mobile">(Press and Hold on the address to get GPS directions)</p>
 <p id="mobile2">950 NW Carkeek Park Rd, Seattle, WA 98177</p>
  <p id="mobile23">The green marker in the top left corner on the water</p>
  <div id ="maps2">
    <div directions-map id="map"></div>

  </div>
 
</div>

<style type="text/css">
	#mobile23
	{
		font-family: 'Radley', sans-serif;
		color: green;
	}
</style>