
    <style>
      #maps2{
        width: 100%;
        height: 100%;
        margin: auto;
        padding: 0;
      }
      #map {
        height: 720px;
        width: 720px;
        margin: auto;
        margin-bottom: 10%;
        border: 2px solid black;
      }
      #maps_p
      {
        text-align: center;
        margin-bottom: 2%;
        margin-top:2%;
        color: white;
        font-size: 2em;
      }
      h2
      {
        margin-bottom: 2%;
      }
    </style>
  </head>
  <body>
    <div id ="maps2">
      <p id="maps_p">Refresh the page to view the map</p>
      
      <div id="map"></div>
    </div>
    <script>

