<div>
 <p id="mobile"><a href="https://www.google.com/maps/dir//Queen+City+Yacht+Club,+Boyer+Avenue+East,+Seattle,+WA/@47.6429606,-122.3286392,14.3z/data=!4m8!4m7!1m0!1m5!1m1!1s0x549014e7cace041b:0x60731e7d69aed30a!2m2!1d-122.3165904!2d47.6435951">2608 Boyer Ave E, Seattle, WA 98102</a></p>
 <p id="mobile">(Press and Hold on the address to get GPS directions)</p>
 <p id="mobile2">2608 Boyer Ave E, Seattle, WA 98102</p>
  <div id ="maps2">
    <div directions-map id="map"></div>

  </div>
 
</div>

