<div id="main_div">
	<div id="img_div" >
		<h2>Check out Major League Baseball at one of the most scenic downtown Ballparks in all of America, Safeco Field.  The Seattle Mariners play the Los Angeles Angels on Friday night and the Texas Rangers on Monday afternoon.  There is nothing like a summer day game in Seattle!</h2>
		<img src="/img/safeco.jpg">
			<ul id="game_ul">
				<li class="game_dates">Friday 2nd 7:30pm</li>
				<li class="game_dates">Monday 5th 1:10pm</li>
			</ul>
		<img src="/img/day_game.jpg">
		<img src="/img/felix.jpg">
	</div>
</div>



<style type="text/css">
	
	#main_div
	{
		width: 100%;
		height: 100%;
		margin: auto;
		background-color: white;

	}
	#img_div
	{
		width: 60%;
		margin: auto;
		padding-top: 5%;
	}
	img
	{
		width: 100%;
		height: 100%;
		border: 3px solid black;
		margin-bottom: 10%;
	}
	.game_dates
	{
		display: inline;
		margin: 0 5% 0 5%;
		font-family: "Radley", serif;
		font-size: 2em;
		color: grey;
	}
	h2
	{
		text-align: justify;
		color: #4b4640;
		margin-bottom: 5%;
	}
	#game_ul
	{
		margin-bottom: 10%;
	}
	


</style>