<div id="main_div">
	<div id="img_div" >
		<h1>Seattle Mariner Baseball</h1>
		<img src="/img/safeco.jpg">
			
				<h2>Friday 2nd 7:30pm vs Los Angeles Angels</h2>
				<h2 class="ms_h2">Monday 5th 1:10pm vs Texas Rangers</h2>
			
		<!-- <h2>The Seattle Mariners play the Los Angeles Angels on Friday night and the Texas Rangers on Monday afternoon.  </h2> -->
		<img src="/img/day_game.jpg">
		<h2 class="ms_h2">There is nothing like a summer day game in Seattle!</h2>
		<img src="/img/felix.jpg">
		<h2 class="ms_h2">Länge leve kungen</h2>
	</div>
</div>



<style type="text/css">
	
	#main_div
	{
		width: 100%;
		height: 100%;
		margin: auto;
		background-color: white;

	}
	#img_div
	{
		width: 66.7%;
		margin: auto;
		/*padding-top: 5%;*/
	}
	img
	{
		width: 100%;
		height: 100%;
		border: 2px solid black;
		margin-bottom: 1%;
	}
	.game_dates
	{
		display: block;
		margin: 0 1.75% 0 1.75%;
		font-family: "Radley", serif;
		font-size: 1.25em;
		color: grey;
	}
	h2
	{
		text-align: center;
		color: #4b4640;
		margin-bottom: 3%;
		font-family: "Radley", serif;
	}
	h1
	{
		text-align: center;
		font-family: "Radley", serif;
		margin-bottom: 3%;
	}
	#game_ul
	{
		margin-bottom: 3%;
	}
	.ms_h2
	{
		margin-bottom: 10%;
	}


</style>