<div id="black_div">
	
	<a href="#/"><div id="black_div2"><h3 id="menu_h3" id="menu_top">Home</h3></div></a>
	<a href="#/ourstory"><div id="black_div2"><h3 id="menu_h3">Our Story</h3></div></a>
	<a href="#/wedding_events"><div id="black_div2"><h3 id="menu_h3">Wedding and Events</h3></div></a>
	<a href="#/thursday"><div id="black_div2"><h3 id="menu_h3">Thursday</h3></div></a>
	<a href="#/friday"><div id="black_div2"><h3 id="menu_h3">Friday</h3></div></a>
	<a href="#/saturday"><div id="black_div2"><h3 id="menu_h3">Saturday</h3></div></a>
	<a href="#/sunday"><div id="black_div2"><h3 id="menu_h3">Sunday</h3></div></a>
	<a href="#/hotels2"><div id="black_div2"><h3 id="menu_h3">Hotel Information</h3></div></a>
	<a href="#/sports"><div id="black_div2"><h3 id="menu_h3">Sporting Events</h3></div></a>
	<a href="#/explore_seattle"><div id="black_div2"><h3 id="menu_h3">Discover Seattle</h3></div></a>
	<a href="http://www.myregistry.com/public/swebrew"><div id="black_div2"><h3 id="menu_h3">Registry</h3></div></a>
	<a href="#/rsvp"><div id="black_div2"><h3 id="menu_h3">RSVP</h3></div></a>
	
</div>

<style type="text/css">
	#black_div
	{
		background-color: black;
		text-align: left;
		width: 90%;
		margin-bottom: 10%;
		opacity: .8;
		padding-top: 1%;
	}
	#black_div2
	{
		background-color: black;
		width: 100%;
		border-bottom: 1px solid lightgrey;
	}
	#menu_h3
	{
		text-align: left;
		padding: 0;
		font-size: 2.5em;
		color: lightgrey;
		margin-top: 3%;
		margin-left: 3%;
		font-family: "Radley", serif;
	}
	#menu_top
	{
		margin-top: 3%;
	}

</style>