<div id="black_div">
	<a href="#/ourstory"><h3 id="menu_h3">Our Story</h3></a>
	<a href="#/wedding_events"><h3 id="menu_h3">Wedding and Events</h3></a>
	<a href="#/thursday"><h3 id="menu_h3">Thursday</h3></a>
	<a href="#/friday"><h3 id="menu_h3">Friday</h3></a>
	<a href="#/saturday"><h3 id="menu_h3">Saturday</h3></a>
	<a href="#/sunday"><h3 id="menu_h3">Sunday</h3></a>
	<a href="#/hotels2"><h3 id="menu_h3">Hotel Information</h3></a>
	<a href="#/sports"><h3 id="menu_h3">Sporting Events</h3></a>
	<a href="#/explore_seattle"><h3 id="menu_h3">Discover Seattle</h3></a>
	<a href="http://www.myregistry.com/public/swebrew"><h3 id="menu_h3">Registry</h3></a>
	<a href="#/rsvp"><h3 id="menu_h3">RSVP</h3></a>
</div>