<p class="newpic_p"><a href="#/bachelorette">Bachelorette Pre-Funk</a></p>
<p class="newpic_p"><a href="#/bachelor">Bachelor Pre-Funk</a></p>
<p class="newpic_p"><a href="#/first_look">First Look</a></p>
<p class="newpic_p"><a href="#/party">Wedding Party</a></p>
<p class="newpic_p"><a href="#/ceremony">Ceremony</a></p>
<p class="newpic_p2"><a href="#/hugs">Post-Ceremony Hugs</a></p>
<p class="newpic_p2"><a href="#/family">Family</a></p>
<p class="newpic_p2"><a href="#/boat_pics">Boat Ride</a></p>
<p class="newpic_p2"><a href="#/reception">Reception</a></p>

<br>
			

<style type="text/css">
	.newpic_p
	{
		margin: 4%;
		margin-bottom: 10%;
		display: inline-block;
	}
	.newpic_p2
	{
		margin: 7.5%;
		margin-bottom: 10%;
		display: inline-block;
	}
</style>