
	<div id="main_div">
		
	<h1>Our Story</h1>
	
		<div id="inner_div">
			<p>Ola and Lena met in 2009 at Pillagers Pub, where Lena was a bartender. Ola asked Lena out shortly after she began working there, and Lena politely declined, because her manager was Ola’s housemate and also because she had a boyfriend at the time. Thus began a two-year crush, and the first phase of Ola’s plan.

				<br><br>

In the fall of 2011, Ola overheard Lena mention that she wanted to go to a Seahawks game. Over the past two years, the manager had moved to Whidbey Island and Lena was single: This was Ola’s chance. Lena said yes, and she and Ola spent their first date celebrating a 24-7 Hawks victory over the Rams. <br><br>

Lena moved to Kentucky for law school (<span id="cats">GO CATS</span>) in July of 2012, and she and Ola decided to stay together while she pursued her degree. They talked on the phone every morning and every night, and flew back and forth from Seattle to Lexington every few months. Finally, after three years, Lena packed up her life in Lexington and moved back to Seattle to finish her degree as a visiting student at UW Law (<span id="dawgs">GO DAWGS</span>). <br><br>

Ola proposed at Pacific Beach on a camping trip, offering Lena a beautiful heirloom ring. She said yes immediately, because she knows a good thing when she sees one. <br><br>

They live together in a house in Greenwood with Ola’s two amazing kids, Kaia and Ke’ola, and two annoying black cats, Marcie and Lincoln. Ola is climbing the ranks at a downtown Seattle mechanical engineering consulting firm; Lena finished her J.D. in December and looks forward to finding work as an attorney. After the wedding, they plan to honeymoon in Tulum and Xcalak, Mexico.<br><br>

Together with their families, Ola and Lena are overjoyed to celebrate their union with you and yours. During the wedding, they will be pleased to accommodate any and all requests for aquavit shots and dance battles. 
</p>
			
		</div>
	</div>


<style type="text/css">
	
	#main_div
	{
		width: 100%;
		height: 100%;
		margin: auto;
		background-color: white;
	}
	#inner_div
	{
		width: 60%;
		margin: auto;
		background-image: url("img/paper1.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		padding: 3% 3% 0 3%;
	}
	img
	{
		width: 100%;
		height: 100%;
		border: 1px solid black;
		margin: auto;
		border-radius: 40px;
	}
	p
	{
		margin-bottom: 15%;
		text-align: justify;
		font-family: "Radley", serif;
		font-size: 1.5em;
		padding-bottom: 3%;
	}
	h1
	{
		margin-bottom: 2%;
		font-family: "Radley", serif;
		text-align: center;
	}
	h2
	{
		margin-bottom: 2%;
	}
	#cats
	{
		color: dodgerblue;
	}
	#dawgs
	{
		color: darkslateblue;
	}




</style>