
	<div id="main_div">
		
	
	
		<div id="inner_div">
			<!-- <h1>Ola and Lena</h1> -->
			<!-- <img src="/img/plaid.jpg">
			<h3>Mischievous Plaids</h3>
			<img src="/img/superbowl.jpg">
			<h3>Hawk-Dawg, Hawk-Dawg!</h3> -->
			<img src="/img/family.jpg">
			<h3>Familj</h3>
		</div>
	</div>


<style type="text/css">
	
	#main_div
	{
		width: 100%;
		height: 100%;
		margin: auto;
		background-color: white;
	}
	#inner_div
	{
		width: 60%;
		margin: auto;
		padding-top: 5%;
	}
	img
	{
		width: 100%;
		height: 100%;
		border: 1px solid black;
		margin: auto;
		border-radius: 40px;
	}
	h3
	{
		margin-bottom: 15%;
		text-align: center;
		font-family: "Radley", serif;
	}




</style>