
	<div id="main_div">
		
      <h3 id="our_h2">We are so happy you are coming!</h3>
      <!-- <p id="our_p2"><a href="#/rsvp_no" id="oops">Oops, I meant <span id="redd">No,</span> I cannot attend</a></p> -->
      <div id="img_div" >
        <img src="img/hifive.jpg">
      </div>
      <h3 id="our_p2">Please fill out this form</h3>
		<div class="register" ng-controller="ProductsController as productsCtrl">
			<form id="rsvp_form">				
				<input id="input_email" ng-model="productsCtrl.newProduct.email" type="email" name="email" placeholder="  Email Address (required)"><br>
        <input id="input_name" ng-model="productsCtrl.newProduct.first_name" type="text" name="name" placeholder="  First Name (required)">
        <input id="input_name" ng-model="productsCtrl.newProduct.last_name" type="text" name="name" placeholder="  Last Name (required)">
         
				<input id="input_email" ng-model="productsCtrl.newProduct.diet" type="text" name="diet" placeholder="  Vegetarian or Vegan?"><br>
				<input id="input_email" ng-model="productsCtrl.newProduct.song" type="text" name="song" placeholder="  Song Request  (artist, title)"><br>
				<textarea rows="4" id="input_email" ng-model="productsCtrl.newProduct.fact" type="text" name="fact" placeholder="  An interesting fact about you! (required)"></textarea><br>

        <h3 id="our_p2">If you are bringing a guest, please fill out this additional form</h3>
				<input id="input_email" ng-model="productsCtrl.newProduct.guest" type="text" name="name" placeholder="  Guest Name">
        <input id="input_email" ng-model="productsCtrl.newProduct.diet_guest" type="text" name="diet" placeholder="   Vegetarian or Vegan?"><br>
        <textarea rows="4" id="input_email" ng-model="productsCtrl.newProduct.fact_guest" type="text" name="fact" placeholder="  An interesting fact about your guest!"></textarea><br>
        <h3 id="our_p2">Are you bringing kids?</h3>
        <input id="input_email" ng-model="productsCtrl.newProduct.kid1" type="text" name="name" placeholder="  Name">
        <input id="input_email" ng-model="productsCtrl.newProduct.kid1_age" type="text" name="fact" placeholder="  Age"><br>
        <input id="input_email" ng-model="productsCtrl.newProduct.kid1_diet" type="text" name="diet" placeholder="   Vegetarian or Vegan?"><br>
        <hr><br>
        <input id="input_email" ng-model="productsCtrl.newProduct.kid2" type="text" name="name" placeholder="  Name">
        <input id="input_email" ng-model="productsCtrl.newProduct.kid2_age" type="text" name="fact" placeholder="  Age"><br>
        <input id="input_email" ng-model="productsCtrl.newProduct.kid2_diet" type="text" name="diet" placeholder="   Vegetarian or Vegan?"><br>


        <button id="rsvp" type="submit" ng-click="productsCtrl.addProduct(productsCtrl.newProduct)"><a href="#/thanks">RSVP</a></button><br>
			</form>
		</div>

   
</div>
		

			<!-- <a href="#/hidden">.</a> -->
	
<p id="vogel">Powered by Vogel1Devs</p>
