<div id="img_div">
	<h2>Saturday</h2>
	<h3>Rehearsal Walkthrough 3:30pm</h3>
	<p>Gas Works Park</p>
	<img src="/img/saturday1.jpg">
</div>


<style type="text/css">
	
	#img_div
	{
		width: 86%;
		
		margin: auto;
		/*background-color: #fffff0;*/
		padding: 0 0 5% 0;
	}
	img
	{
		width: 100%;
		display: inline-block;
		border: 2px solid black;
		margin: auto;
		margin-bottom: 3%;
	}
	p
	{
		margin: 0 0 2% 0;
		color: black;
		text-align: center;
		font-family: "Radley", serif;
	}
	h3
	{
		text-align: center;
		font-family: "Radley", serif;
		margin: 0 0 2% 0;
	}
	h2
	{
		text-align: center;
		font-family: "Radley", serif;
		margin: 0 0 2% 0;
	}
	ul
	{
		text-align: center;
	}
	.yanni_li
	{
		display: inline;
		margin: 0 4.5% 0 4.5%;
	}
	

</style>