<div id="img_div">
	<h1>Saturday Special Events</h1>
	<h2>Rehearsal Dinner -Yanni's- 7:30pm</h2>
	<p>*sorry invite only</p>
	<img src="/img/yannis.jpg">
	<img src="/img/bar.jpg">
	<img src="/img/shanks.png">
	<img src="/img/chicken.jpg">
	<img src="/img/dolmathes.jpg">
	<img src="/img/wine.jpg">
	<img src="/img/family.jpg">

	

</div>


<style type="text/css">
	
	#img_div
	{
		width: 66.7%;
		height: 60%;
		margin: auto;
		background-color: white;
		padding: 0 0 5% 0;
	}
	img
	{
		width: 100%;
		height: 100%;
		border: 2px solid black;
		margin: auto;
		margin-bottom: 3%;
	}
	p
	{
		margin: 0 0 2% 0;
		color: red;
		text-align: center;
		font-family: "Radley", serif;
	}
	h1
	{
		text-align: center;
		font-family: "Radley", serif;
		margin: 0 0 5% 0;
	}
	h2
	{
		text-align: center;
		font-family: "Radley", serif;
		margin: 0 0 2% 0;
	}
	

</style>