<div id="img_div">
	<h1>Saturday</h1>
	<h2>Rehearsal Dinner -Yanni's- 7:30pm</h2>
	<p>By Invitation Only</p>
	<!-- <img src="/img/yannis.jpg"> -->
	<!-- <img src="/img/shanks.png"> -->
	<!-- <img src="/img/wine.jpg"> -->
	<!-- <img src="/img/family.jpg"> -->

	<ul>
		<li class="yanni_li"><img src="/img/bar.jpg"></li>
		<li class="yanni_li"><img src="/img/chicken.jpg"></li>
		<li class="yanni_li"><img src="/img/dolmathes.jpg"></li>
	</ul>
	    <!-- <div id="map"></div> -->

	
	
	

</div>


<style type="text/css">
	
	#img_div
	{
		width: 100%;
		
		margin: auto;
		background-color: #fffff0;
		padding: 0 0 5% 0;
	}
	img
	{
		width: 20%;
		display: inline-block;
		border: 2px solid black;
		margin: auto;
		margin-bottom: 3%;
	}
	p
	{
		margin: 0 0 2% 0;
		color: grey;
		text-align: center;
		font-family: "Radley", serif;
	}
	h1
	{
		text-align: center;
		font-family: "Radley", serif;
		margin: 0 0 2% 0;
	}
	h2
	{
		text-align: center;
		font-family: "Radley", serif;
		margin: 0 0 2% 0;
	}
	ul
	{
		text-align: center;
	}
	.yanni_li
	{
		display: inline;
		margin: 0 4.5% 0 4.5%;
	}
	

</style>