<div id="sports_div1">
	<h2 id="our_h2">Sporting Events</h2>		
			<h3 class="sport_h3">Washington Huskies Football</h3>
			<p class="sport_p">Saturday 3rd 12:30pm vs Idaho Vandals</p>
		<div id="sports_div">
			<img class="sport_img" src="/img/football.jpg">
		</div>
			<h3 class="sport_h3">Seattle Mariners Baseball</h3>
			<p class="sport_p">Monday 5th 1:10pm vs Texas Rangers</p>
		<div id="sports_div">
			<img class="sport_img" id="baseball" src="/img/baseball.png">
		</div>
</div>
	


<style type="text/css">

	#sports_div1
	{
		border: none;
	}
	
</style>