<div id="main_div">
	<h1>Sports in Seattle</h1>
		<ul>
			<li class="logo"><a href="#/mariners"><img id="baseball"src="/img/baseball.jpg"></a></li>
			<li class="logo"><a href="#/huskies"><img id="football" src="/img/football.jpg"></a></li>
		</ul>
</div>
	


<style type="text/css">
	
	#main_div
	{
		width: 100%;
		height: 100%;
		margin: auto;
		background-color: white;
		padding-bottom: 10%;
	}
	ul
	{

	}
	.logo
	{
		display: inline;
		margin: 0 6.67% 0 6.67%;

	}
	img
	{
		width: 25%;
		height: 25%;
		opacity: .75;
		/*border: 1px solid black;*/
	}
	img:hover
	{
		
		opacity: 1;
	}
	

	h1
	{
		font-family: 'Radley', serif;
		text-align: center;
		font-size: 2em;

	}
	
	
		
		


</style>