<div id="sports_div1">
	<h2>Sporting Events</h2>
		<!-- <ul>
			<li class="logo"><a href="#/mariners"><img id="baseball"src="/img/baseball.png"></a>Monday 5th 1:10pm</li>
			
			<li class="logo"><a href="#/huskies"><img id="football" src="/img/football.jpg"></a></li>
		</ul> -->
		<div id="sports_div">
			<!-- <div id="inner_sports_div"> -->
			<!-- </div>> -->
			<h3>Washington Huskies Football</h3>
			<p>Saturday 3rd 12:30pm vs Idaho Vandals</p>
				<img src="/img/football.jpg">
		</div>
		<div id="sports_div">
			<!-- <div id="inner_sports_div"> -->
			<!-- </div> -->
			<h3>Seattle Mariners Baseball</h3>
			<p>Friday 2nd 7:00pm vs Los Angelas Angels</p>
			<p>Monday 5th 1:10pm vs Texas Rangers</p>
				<img src="/img/baseball.png">
		</div>
</div>
	


<style type="text/css">
	
	#sports_div1
	{	
		width: 80%;
		background-image: url("img/paper1.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		padding: 3% 3% 0 3%;
		margin: auto;
		border: 2px solid black;
	}
	img
	{
		width: 50%;
		height:50%;
		opacity: 1;
		margin: 0 25% 0 25%;

		/*border: 1px solid black;*/
	}
	/*img:hover
	{
		
		opacity: 1;
	}*/
	

	h1
	{
		font-family: 'Radley', serif;
		text-align: center;
		font-size: 2em;
		margin-top: 2%;

	}
	#sports_div
	{
		width: 80%;
		margin: auto;
		display: block;
		margin-bottom: 3%; 
	}
	#inner_sports_div
	{
		width: 20%;
		margin: auto;
		/*display: block;*/
	}
	h2
	{
		font-family: 'Radley', serif;
		text-align: center;
		margin-bottom: 2%;
		/*font-size: 2em;*/
		/*margin-top: 2%;*/

	}
	p
	{
		font-family: 'Radley', serif;
		text-align: center;
		/*color: darkgreen;*/
		font-size: 70%;
		/*margin-top: 2%;*/

	}
	h3
	{
		font-family: 'Radley', serif;
		text-align: center;
		margin-bottom: 2%;
		font-size: 90%;
		/*margin-top: 2%;*/

	}
	
	
		
		


</style>