<div id="img_div">
	<h1>Sunday Wedding</h1>
	<h2>Gas Works Park</h2>
	<p>By Invitation Only</p>
	<img src="/img/gasworks1.jpg">
</div>
<div id="img_div">
	<h1>Sunday Reception</h1>
	<h2>Queen City Yacht Club</h2>
	<p>By Invitation Only</p>
	<img src="/img/qcyc1.jpg">
	<a href="https://www.google.com/maps/dir//Queen+City+Yacht+Club,+Boyer+Avenue+East,+Seattle,+WA/@47.6435737,-122.3868021,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x549014e7cace041b:0x60731e7d69aed30a!2m2!1d-122.3165904!2d47.6435951">
		
	Click Here</a>
</div>


<style type="text/css">
	
	#img_div
	{
		width: 33.3%;
		margin: auto;
		background-color: #fffff0;
		padding: 0 0 5% 0;
	}
	img
	{
		width: 100%;
		height: 100%;
		border: 2px solid black;
		margin: auto;
		margin-bottom: 3%;
	}
	p
	{
		margin: 0 0 2% 0;
		color: grey;
		text-align: center;
		font-family: "Radley", serif;
	}
	h1
	{
		text-align: center;
		font-family: "Radley", serif;
		margin: 0 0 5% 0;
	}
	h2
	{
		text-align: center;
		font-family: "Radley", serif;
		margin: 0 0 2% 0;
	}
	

</style>