<div id="img_div">
	<h1>Sunday Wedding</h1>
	<h2>Gas Works Park</h2>
	<p>By Invitation Only</p>
	<img src="/img/gasworks1.jpg">
</div>
<div id="img_div">
	<h1>Sunday Reception</h1>
	<h2>Queen City Yacht Club</h2>
	<p>By Invitation Only</p>
	<img src="/img/qcyc1.jpg">
</div>


<style type="text/css">
	
	#img_div
	{
		width: 33.3%;
		margin: auto;
		background-color: #fffff0;
		padding: 0 0 5% 0;
	}
	img
	{
		width: 100%;
		height: 100%;
		border: 2px solid black;
		margin: auto;
		margin-bottom: 3%;
	}
	p
	{
		margin: 0 0 2% 0;
		color: grey;
		text-align: center;
		font-family: "Radley", serif;
	}
	h1
	{
		text-align: center;
		font-family: "Radley", serif;
		margin: 0 0 5% 0;
	}
	h2
	{
		text-align: center;
		font-family: "Radley", serif;
		margin: 0 0 2% 0;
	}
	

</style>