	<h2 class="day_h2">Sunday Wedding</h2>
	<h3 class="day_h3">Gas Works Park - 4:30pm</h3>
	<p class="day_ps">By Invitation Only</p>
<div id="img_div3">
	<!-- <a href="https://www.google.com/maps/dir//Gas+Works+Park,+North+Northlake+Way,+Seattle,+WA/@47.6603371,-122.3790383,13.34z/data=!4m8!4m7!1m0!1m5!1m1!1s0x54901502b25bb07f:0x1e6e55abec496196!2m2!1d-122.3343532!2d47.6456308"> -->
		<img id="sunday_img" src="/img/sunday_img.jpg">
	<!-- </a> -->
	<!-- <p class="day_ps">Click the image for google maps</p> -->
</div>
	<h2 class="day_h2">Sunday Reception</h2>
	<h3 class="day_h3">Queen City Yacht Club - To Follow</h3>
	<p class="day_ps">By Invitation Only</p>
<div id="img_div3">
	<!-- <a href="https://www.google.com/maps/dir//Queen+City+Yacht+Club,+Boyer+Avenue+East,+Seattle,+WA/@47.6429606,-122.3286392,14.3z/data=!4m8!4m7!1m0!1m5!1m1!1s0x549014e7cace041b:0x60731e7d69aed30a!2m2!1d-122.3165904!2d47.6435951"> -->
		<img src="/img/qcyc1.jpg" id="sunday_img">
	<!-- </a> -->
	<!-- <p class="day_ps">Click the image for google maps</p> -->
</div>



