	<h2 class="day_h2">Thursday</h2>
	<h3 class="day_h3">Ola's Family Dinner - 7:30pm</h3>
	<h4 class="day_h4">Tutta Bella</h4>
	<p class="day_ps">By Invitation Only</p>
<div id="img_div">
	<a href="https://www.google.com/maps/dir//Tutta+Bella+Neapolitan+Pizzeria+-+Stone+Way,+4411+Stone+Way+N,+Seattle,+WA+98103/@47.6604592,-122.3446983,17z/data=!4m13!1m4!3m3!1s0x54901451540f3799:0x152d1d1fdeff725!2sTutta+Bella+Neapolitan+Pizzeria+-+Stone+Way!3b1!4m7!1m0!1m5!1m1!1s0x54901451540f3799:0x152d1d1fdeff725!2m2!1d-122.3425096!2d47.6604592"><img class="img" src="/img/tutta.jpg"></a></a>
	<p class="day_ps">Click the image for google maps</p>
</div>
	


