	<h2 class="day_h2">Thursday</h2>
	<h3 class="day_h3">Ola's Family Dinner</h3>
	<h3 class="day_h3">Tutta Bella -- 7:30pm</h3>
	<p class="day_ps">By Invitation Only</p>
<div id="img_div">
	<a href="https://www.google.com/maps/place/Tutta+Bella+Neapolitan+Pizzeria+-+Stone+Way/@47.6604592,-122.3446983,17z/data=!3m1!4b1!4m2!3m1!1s0x54901451540f3799:0x152d1d1fdeff725"><img class="img" src="/img/tutta.jpg"></a></a>
	<!-- <p class="day_ps">Click the image for google maps</p> -->
</div>

<p id="vogel">Powered by Vogel1Devs</p>
	


