<div id="main_div">
		<h1>Water Taxi and Alki Kayak Tours</h1>
		
			<div id="img_div" >
				<img src="img/water_taxi2.jpg">
				<h2>For only $4.00 take the water taxi across Elliot Bay</h2>
			</div>
			<div id="img_div" >
				<img src="img/water_taxi1.jpg">
				<h2>The crossing takes less than 10 minutes</h2>
			</div>
			<div id="img_div" >
				<img src="img/water_taxi3.jpeg">
				<h2>Marination is a great spot for food and drinks</h2>
			</div>
			<div id="img_div" >
				<img src="img/water_taxi4.jpg">
				<h2>Right next to the water taxi with a view</h2>
			</div>
			<div id="img_div" >
				<img src="img/water_taxi5.jpg">
				<h2>Adjacent to Marination is Alki Kayak Tours - $15 an hour</h2>
			</div>
			<div id="img_div" >
				<img src="img/water_taxi6.jpg">
				<h2> Round the Duwamish Head and you are at Alki Beach</h2>
			</div>
			<div id="img_div" >
				<img src="img/water_taxi8.jpg">
				<h2>Turn around at the Lighthouse on Alki Point</h2>
			</div>
			<div id="img_div" >
				<img src="img/water_taxi7.jpg">
				<h2>You just might go home with a "Killer Tale"</h2>
				<ul>
					<li><img id="native" src="img/native.jpg"></li>
					<li><img id="native" src="img/native.jpg"></li>
					<li><img id="native" src="img/native.jpg"></li>
				</ul>
			</div>
			
</div>



<style type="text/css">
	#main_div
	{
		width: 100%;
		height: 100%;
		margin: auto;
		background-color: white;

	}
	#img_div
	{
		width: 66.7%;
		margin: auto;
		padding-bottom: 10%;

	}
	img
	{
		width: 100%;
		height: 100%;
		border: 2px solid black;
		margin: auto;
	}
	h1
	{
		text-align: center;
		font-family: "Radley", serif;
		margin: 0 0 3% 0;
	}
	h2
	{
		text-align: center;
		font-family: "Radley", serif;
		margin: 1% 0 0 0;
	}
	
	a
	{
		font-family: "Radley", serif;
	}
	#native
	{
		border: none;
		width:25%;
		height: 25%;
	}
	li
	{
		display: inline;
	}
	</style>