<div id="main_div">
		<h1>Water Taxi and Alki Kayak Tours</h1>
		
			<div id="img_div" >
				<img src="img/water_taxi2.jpg">
				<p>For only $4.00 take the water taxi across Elliot Bay</p>
			</div>
			<div id="img_div" >
				<img src="img/water_taxi1.jpg">
				<p>The crossing takes less than 10 minutes</p>
			</div>
			<div id="img_div" >
				<img src="img/water_taxi3.jpg">
				<p>Pearched above the dock is Marination</p>
			</div>
			<div id="img_div" >
				<img src="img/water_taxi4.jpg">
				<p>Great food, drinks and a view</p>
			</div>
			<div id="img_div" >
				<img src="img/water_taxi5.jpg">
				<p>Adjacent to Marination is Alki Kayak Tours</p>
			</div>
			<div id="img_div" >
				<img src="img/water_taxi8.jpg">
				<p>$15 an hour and you are on your way around the Duwamish Head and onto Alki Beach</p>
			</div>
			<div id="img_div" >
				<img src="img/water_taxi6.jpg">
				<p>When you get to the Lighthouse on Alki Point it might be time to turn around</p>
			</div>
			<div id="img_div" >
				<img src="img/water_taxi7.jpg">
				<p>You just might go home with a "Killer Tale"</p>
			</div>
			
</div>



<style type="text/css">
	#main_div
	{
		width: 100%;
		height: 100%;
		margin: auto;
		background-color: white;

	}
	#img_div
	{
		width: 66.7%;
		margin: auto;
		padding-bottom: 5%;

	}
	img
	{
		width: 100%;
		height: 100%;
		border: 2px solid black;
		margin: auto;
	}
	h1
	{
		text-align: center;
		font-family: "Radley", serif;
		margin: 0 0 3% 0;
	}
	p
	{
		text-align: center;
		font-family: "Radley", serif;
		margin: 1% 0 0 0;
	}
	
	a
	{
		font-family: "Radley", serif;
	}
	</style>