
	<div id="main_div">
		
		<a href="#/thursday"><div class="day_plan" id="top_date">
			<p class="event_p">Thursday, September 1st</p>
				<h3 class="event" id="day_2">Järvegren Family Dinner - 7:30pm</h3>
		</div></a>
		<a href="#/friday"><div class="day_plan">
			<p class="event_p">Friday, September 2nd</p>
				<h3 class="event" id="day_2">DJ ShmeeJay Diskofunk - 6:00pm</h3>
		</div></a>
		<a href="#/saturday"><div class="day_plan">
			<p class="event_p">Saturday, September 3rd</p>
				<h3 class="event" id="day_2">Barouh Family Dinner - 7:30pm</h3>
		</div></a>
		<a href="#/sunday"><div id="last_day" class="day_plan">
			<p class="day_p" id="sunday2">Sunday, September 4th</p><br>
			<h3 class="event">CEREMONY - 4:30</h3>
			<h4 class="locale">Gas Works Park<br><span id="address">2101 N Northlake Way, Seattle, WA 98103
</span></h4>

			<h3 class="event">RECEPTION - To Follow</h3>
			<h4 class="locale">Queen City Yacht Club<br><span id="address">2608 Boyer Ave E, Seattle, WA 98102</span></h4>
		</div></a>
	</div>

<style type="text/css">
	.day_plan
	{
		background-image: url("img/paper1.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>


